<main>
  <div id="containerlg" class="container__login container__login--disabled">
    <h1 class="login__title">Inicio de Sesión</h1>
    <form id="formLogin" class="form__group form__group--login" action="/login">
      <div class="input__container--login">
        <input class="input__text--login"  id="emaillg" type="email" placeholder="Email" name="txtEmaillg" id="" required>
        <input class="input__text--login" id="psswrdlg" type="password" placeholder="Password" name="txtPasswordlg" required>
      </div>
      <a class="a__text" href="">¿Olvido su contraseña?</a>
      <input id="btnLogin"  class="submit__btn" type="submit" value="Iniciar Sesión">
      <div class="registrarse">
        <span class="span__text">Click para <a id="linkLogin" href="/register">registrarse</a></span>
      </div>
    </form>
  </div>
</main>
