<header>
  <nav class="nav">
    <div class="nav__container">
      <a href="/home"><img src="./assets/logopetparadise.png" alt="Logo PetParadise" class="nav__logo"></a>
      <ul class="nav__list">
        <li class="nav__item"><a href="PetParadise/home" class="nav__link">Inicio</a></li>
        <li class="nav__item"><a href="PetParadise/products" class="nav__link">Productos</a></li>
        <li class="nav__item"><a href="#contact" class="nav__link">Contacto</a></li>
      </ul>
      <a class="nav__register" href="/login">Iniciar Sesion</a>
      <!--<img src="./assets/menu.svg" alt="" class="nav__menu">-->
    </div>
  </nav>
</header>
