<footer class="footer">
  <div class="footer__first">
    <div class="footer__first__left">
      <img class="footer__img" src="./assets/logopetparadise.png" alt="logo_petparadise">
    </div>
    <div class="footer__first__middle">
      <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="PetParadise/home">Home</a></li>
        <li class="footer__item"><a class="footer__link" href="PetParadise/products">Productos</a></li>
        <li class="footer__item"><a class="footer__link" href="">Contacto</a></li>
      </ul>
    </div>
    <div class="footer__first__right">
      <h3 class="footer__title__right">Socials</h3>
      <ul class="footer__list--socials">
        <a href=""><img class="footer__socials" src="../../../assets/facebook.png" alt="facebook"></a>
        <a href=""><img class="footer__socials" src="../../../assets/instagram.png" alt="instagram"></a>
        <a href=""><img class="footer__socials" src="../../../assets/youtube.png" alt="youtube"></a>
      </ul>
    </div>
  </div>

  <div class="footer__second">
    <ul class="footer__second__list">
      <li><a class="footer__second__item" href="">Ayuda</a></li>
      <li><a class="footer__second__item" href="">Contacto</a></li>
      <li><a class="footer__second__item" href="">Condiciones de Uso</a></li>
      <li><a class="footer__second__item" href="">Politica de privacidad</a></li>
    </ul>

  </div>
  <div class="footer__third">
    <p class="footer__copy">© 2024 PetParadise. Todos los derechos reservados.</p>
  </div>
</footer>
